dist: xenial
# Use the latest Travis images since they are more up to date than the stable release.
group: edge
jobs:
    include:
    #This test helps us to check integrity of the backend code
    - language: python
      python: '3.7'
      cache: pip
      install:
        # Initialize installments 
        - pip install -r requirements.txt
      script:
        - python manage.py makemigrations
        - python manage.py migrate

    #This test helps us to check standard linting of the codebase
    - language: python
      python: '3.7'
      cache: pip
      install:
        pip install pre-commit
      script:
        - pre-commit run --all-files