dist: xenial
group: edge
jobs:
  include:
  - stage: Tests
  - language: node_js
    node_js: 12.16.1
    cache: yarn
    before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.0
    - export PATH="$HOME/.yarn/bin:$PATH"
    install:
    - yarn install --frozen-lockfile
    script:
    - yarn format
    - yarn build
    deploy:
      provider: pages
      skip_cleanup: true
      github_token: "$GITHUB_TOKEN"
      local-dir: build
      on:
        branch: master
  - language: python
    python: '3.7'
    cache: pip
    install:
    - pip install poetry
    - poetry install
    script:
    - python manage.py check --deploy
    - python manage.py makemigrations
    - python manage.py migrate
    - python manage.py test
  - language: python
    python: '3.7'
    cache: pip
    install:
    - pip install pre-commit
    script:
    - pre-commit run --all-files
  - stage: backendDeploy
    language: node_js
    node_js: 12.16.1
    cache: npm
    before_install:
    - openssl aes-256-cbc -K $encrypted_24bf68e341ce_key -iv $encrypted_24bf68e341ce_iv -in ubuntu.enc -out ubuntu -d
    - chmod 400 ./ubuntu
    install:
    - npm -g install pm2@latest
    script:
    - pm2 deploy ./deploy/deploy.config.js production
stages:
- name: Tests
- name: backendDeploy
  if: type = push AND branch = master
