[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-environ = "*"
pre-commit = "*"
pillow = "*"
djangorestframework = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
