[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cleanup = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
pillow = "*"
pre-commit = "*"
requests = "*"
protobuf = "*"
google-cloud-storage = "*"
django-storages = {extras = ["google"], version = "1.11.1"}

[requires]
python_version = "3.8"
