/** @format */

.imageProfile {
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
.title {
  margin: 0;
}
.name {
  margin: 0;
}
.iconContainer {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  /* margin: auto; */
  margin-top: 1em;
  align-items: center;
}
.icons {
  margin-right: 1em;
  font-size: 1.5em;
  color: black;
}
