@import url('https://fonts.cdnfonts.com/css/product-sans');
.container{
    font-family: 'Product Sans', sans-serif;
}
.header{
    margin-top: 8vh;
    background-image: url('../../assets/podcastHeader.png');
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header h1{
    padding: 20px 30px;
    font-size: 3.5rem;
    font-weight: 500;
}