li {
    list-style: square;
    padding: 0;
    margin-top: 0;
}
ul {
    padding: 0.5em;
    height: fit-content;
}
.features li {
    padding: 1em;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: 3em;
}
p {
    height: fit-content;
}
.registerA {
    margin-left: 5em;
    text-decoration: underline;
    cursor: pointer;
}
