/** @format */

.imgBg1 {
    z-index: -100;
    position: absolute;
    left: -22vw;
    top: -20vh;
    right: 5vw;
    bottom: 92vh;
    height: 115vh;
    /* transform: "scale(0.75)"; */
    transform: rotate(5deg);
}
.Logo {
    height: 10vh;
    margin-left: 40vw;
    margin-top: 18vw;
}
.HomeText {
    font-size: 2em;
    font-weight: 500;
    color: #676c72;
    margin-top: 0;
    margin-left: 50%;
}
.imgBg2 {
    position: absolute;
    /* //Absolute positioning(so that it doesnt get afffected by other lements) inside relative positioning so that i can make it absolute to its parent without making it absolute to the whole page that causes overflow */
    margin: 0;
    z-index: -100;
    height: 70%;
    bottom: 20%;
    left: 83%;
    right: 25%;
    transform: scaleX(-1) rotate(20deg);
    /* // overflow: "hidden" */
}

.imgAboutUndraw {
    position: absolute;
    margin: 0;
    z-index: -100;
    height: 50%;
    bottom: 5%;
    left: 2%;
    right: 25%;
    /* transform:  */
    /* // overflow: hidden */
}

.AboutTextContainer {
    width: 50%;
    margin-left: 35%;
    margin-top: 15%;
}
.AboutText {
    font-size: 1.9em;
    color: #676c72;
    font-weight: 400;
}

.AboutButton1 {
    position: relative;
    margin-left: 35%;
    border-style: solid;
    border-width: 2px;
    padding: 20px 30px 20px 30px;
    color: #f3f3f3;
    font-size: 1.5em;
    background: #ea4335;
    border-radius: 1em;
    cursor: pointer;
}
.TeamButton {
    position: absolute;
    left: 0;
    margin-left: 5%;
    margin-top: 0;
    border-style: solid;
    border-width: 2px;
    padding: 20px 30px 20px 30px;
    color: #f3f3f3;
    font-size: 1.5em;
    background: #fbbc05;
    border-radius: 1em;
    cursor: pointer;
}
.AboutButton2 {
    position: relative;
    margin-left: 1em;
    border-style: solid;
    border-color: #ea4335;
    border-width: 2px;
    padding: 20px 30px 20px 30px;
    color: #ea4335;
    font-size: 1.5em;
    background: #f3f3f3;
    border-radius: 1em;
    cursor: pointer;
}
.TeamTextContainer {
    width: 30%;
    margin-top: 15%;
    margin-left: 5%;
}
.TeamImage {
    position: absolute;
    top: 10%;
    height: 70%;
    margin-left: 50%;
    z-index: -100;
}
.Form {
    height: 100%;
    /* // background: red */
    /* // marginTop: 5% */
    width: 50%;
    position: relative;
    /* // padding: 1em */
    /* // border: 1px solid #CCC */
    /* // borderRadius: 1em */
}
li {
    /* // background: yellow */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    /* // margin: 1em */
    margin-left: 0;
    margin-bottom: 0;
}
input {
    background: #f3f3f3;
    width: 80%;
    font-size: 1.2em;
    font-family: Poppins;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #676c72;
    padding: 1em 0 0.5em 0em;
    margin: 0.5em;
    color: black;
    margin-bottom: 0;
}
.textArea {
    background: #f3f3f3;
    width: 80%;
    font-family: Poppins;
    font-size: 1.2em;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #676c72;
    padding: 1em 0 0.5em 0em;
    margin: 0.5em;
    color: black;
    margin-bottom: 0;
    vertical-align: top;
    height: 10em;
}
label {
    background: pink;
    font-size: 1.2em;
}
ul {
    display: flex;
    flex-direction: column;
    /* // justifyContent: space-between */
    height: 100%;
    margin: 1em;
    /* // background: grey */
    padding: 1em;
}
.FormButton {
    position: absolute;
    margin-left: 2em;
    /* bottom: 0; */
    /* // margin-left: 5% */
    border-style: solid;
    border-width: 2px;
    padding: 15px 25px 15px 25px;
    color: #f3f3f3;
    font-size: 1.5em;
    background: #34a853;
    border-radius: 1em;
    cursor: pointer;
}

.LogoFooter {
    display: "flex";
    height: 5vh;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}

.LogoFooterContainer {
    margin: 1vh;
}

.div1 {
    cursor: url(data:image/png;base64iVBORw0KGgoAAAANSUhEUgAAAB0AAAAZCAMAAAD63NUrAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFZJREFUeNqdzksKwDAIAFHH+x+6lIYOVPOhs5OHJnES/5UkYKEkU7xjijSIm50iFh4fAXgYDd/yumVVRSwsqq/nRA3xVK0oo06d5U6DpQZ7PV7lMxH7LkaQAbYFwryzAAAAAElFTkSuQmCC),
        auto;
}
input::placeholder {
    font-family: Poppins;
    color: #676c72;
    margin: 0;
}
textarea::placeholder {
    font-family: Poppins;
    color: #676c72;
    margin: 0;
}
