/** @format */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 500;
}
.redMark {
  background: linear-gradient(
    -100deg,
    hsla(5, 69%, 54%, 0.5),
    hsla(5, 69%, 54%, 0.5) 95%,
    hsla(5, 69%, 54%, 0.1)
  );
  border-radius: 1em 0;
  padding: 1rem;
}
.yellowMark {
  background: linear-gradient(
    -100deg,
    hsla(44, 100%, 48%, 0.5),
    hsla(44, 100%, 48%, 0.5) 95%,
    hsla(44, 100%, 48%, 0.1)
  );
  border-radius: 1em 0;
  padding: 1rem;
}
.greenMark {
  background: linear-gradient(
    -100deg,
    hsla(151, 83%, 34%, 0.5),
    hsla(151, 83%, 34%, 0.5) 95%,
    hsla(151, 83%, 34%, 0.1)
  );
  border-radius: 1em 0;
  padding: 1rem;
}
.blueMark {
  background: linear-gradient(
    -100deg,
    hsla(217, 89%, 61%, 0.5),
    hsla(217, 89%, 61%, 0.5) 95%,
    hsla(217, 89%, 61%, 0.1)
  );
  border-radius: 1em 0;
  padding: 1rem;
}
